@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
    --strong-cyan: hsl(185, 41%, 84%);
    --dark-cyan: hsl(185, 88%, 16%);
    --grey: hsl(184, 14%, 56%);
    --input-cyan: hsla(202, 50%, 97%);
    --light-grayish-cyan: hsl(172, 67%, 45%);
    --text-color: hsl(183, 12%, 36%);
    --white: hsl(0, 0%, 100%);
}

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--strong-cyan);
    font-family: 'Space Mono', monospace;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border-radius: 30px;
    padding-block: 50px;
    padding-inline: 30px;
    margin-inline: 100px;
    /* width: 800px; */
}

.header {
    margin: auto;
    text-align: center;
    margin-block: 2rem;
}

.header h1 {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 10px;
    color: var(--text-color);
}

.sm-txt {
    font-size: 16px;
    font-weight: 700;
    color: var(--text-color); 
}

input {
    border: none;
    background-color: transparent;
}

input.md-txt {
    width: 70%;
    text-align: right;
}

.md-txt {
    font-size: 30px;
    color: var(--dark-cyan);
}

.bill {
    display: flex;
    background-color: var(--input-cyan);
    margin-top: 10px;
    margin-bottom: 40px;
    padding-block: 10px;
    padding-inline: 20px;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
}


.box-0 {
    width: 450px;
}

.box-2 {
    margin-top: 10px;
    margin-bottom: 65px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    text-align: center;
    margin-top: 20px;
}

/* .grid-container .drk-btn .grn-btn .white-btn {
    span: 200px;
} */

.drk-btn {
    background-color: var(--dark-cyan);
    color: var(--white);
    padding: 15px;
    border-radius: 5px;
}

.grn-btn {
    background-color: var(--light-grayish-cyan);
    color: var(--dark-cyan);
    padding: 15px;
    border-radius: 5px;
}

.white-btn {
    background-color: var(--input-cyan);
    color: var(--text-color);
    padding: 10px;
    border-radius: 5px;
    /* width: 8px; */
}

.white-btn input {
    /* width: 30px; */
    text-align: center;
    height: 40px;
    width: 100px;
    font-family: 'Space Mono', monospace;
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--dz);
}

.n-o-p {
    display: flex;
    justify-content: space-between;
    background-color: var(--input-cyan);
    margin-top: 10px;
    margin-bottom: 40px;
    padding-inline: 20px;
    border-radius: 5px;
    align-items: center;
}
 
.box-4 {
    display: flex;  
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--dark-cyan);
    padding-inline: 30px;
    padding-top: 10px;
    border-radius: 10px;
    height: 556px;
    width: 45%;
    margin-left: 47px;
}

.split-top {
    margin-bottom: 90px;
}

.split-bottom {
    margin-bottom: 60px;
}

.top{
    display: flex;
    padding-top: 40px;
    flex-direction: row;
    margin-bottom: 40px; 
    justify-content: space-between; 
}

.bottom{
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    margin-bottom: 35px; 
    justify-content: space-between; 
}

/* .sm-txt {
    width: 120px;
} */

.text-container .sm-txt {
    color: var(--white);
}

.text-container .xm-txt {
    color: var(--grey);
    font-size: 16px;
}

.text-container .bg-txt {
    color: var(--light-grayish-cyan);
}

.button {
    text-align: center;
    background-color: var(--light-grayish-cyan);
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 5px;
    margin: auto;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    padding-block: 20px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* Media Queries for larger screen */

@media screen and (max-width: 968px)  {
    .container {
        flex-direction: column;
        width: 600px;
        margin: auto;
    }

    .box-4 {
        width: 83%;
    }

    .attribution {
        
    }
    
}
